.desktop {
  position: relative;
  width: 1280px;
  height: 1685px;
  background-color: #ffffff;
  overflow: hidden;
}

.desktop .messageflowlogo {
  position: absolute;
  top: 4px;
  left: 9px;
  width: 66px;
  height: 66px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .text-wrapper {
  top: 13px;
  left: 75px;
  font-family: "Unbounded-ExtraBold", Helvetica;
  font-weight: 800;
  font-size: 40px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div {
  position: absolute;
  top: 86px;
  left: 23px;
  width: 519px;
  font-family: "Unbounded-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  position: absolute;
  top: 179px;
  left: 23px;
  width: 1102px;
  font-family: "Unbounded-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .element {
  position: absolute;
  top: 612px;
  left: 23px;
  width: 1102px;
  font-family: "Unbounded-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  top: 536px;
  left: 23px;
  width: 1102px;
  font-family: "Unbounded-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 48px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 335px;
  left: 23px;
  height: 45px;
  display: flex;
  align-items: center;
  font-family: "Unbounded-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .creative {
  position: absolute;
  top: 319px;
  left: 451px;
  width: 304px;
  height: 77px;
  display: flex;
}

.desktop .text-wrapper-4 {
  display: flex;
  align-items: center;
  margin-top: 17px;
  margin-right: -76px;
  flex: 1;
  margin-bottom: 15px;
  width: 380px;
  font-family: "Unbounded-Bold", Helvetica;
  font-weight: 700;
  color: #2b950b;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame {
  position: absolute;
  top: 409px;
  left: 35px;
  width: 477px;
  height: 87px;
  display: flex;
  background-color: #d9d9d9;
  border-radius: 88px;
}

.desktop .text-wrapper-5 {
  display: flex;
  align-items: center;
  margin-top: 21px;
  width: 333px;
  height: 45px;
  margin-left: 72px;
  font-family: "Unbounded-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image {
  position: absolute;
  top: 862px;
  left: -34px;
  width: 780px;
  height: 851px;
  aspect-ratio: 0.88;
  object-fit: cover;
}
